/* <<<<< Características >>>>> */

h3 {
  margin: 15px auto; 
  font-weight: bold;
}

.pie {
  font-size: nth($size , 4);
  text-align: center;
  background: rgb(146, 146, 153);
  background: linear-gradient(
    90deg,
    rgba(146, 146, 153, 1) 0%,
    rgba(24, 24, 24, 1) 100%);    
     a {
       text-decoration: $sin-decoracion;
       color: nth(colores , 4);
}
}