/* <<<<< Artistas >>>>> */

#fondo-artista {
    background-color: nth($colores , 5); // lista
  }
  
  .mod {
    padding: nth($size , 9); // lista
    color: nth($colores , 7); // lista
    .m {
      margin: 20px;
      background-color: nth($colores , 5);
          .card-text {
            color: nth($colores, 10);
          }
      }
  }
  
  
  
  .pie {
    font-size: nth($size , 4); // lista
    text-align: center;
    background: rgb(146, 146, 153);
    background: linear-gradient(
      90deg,
      rgba(146, 146, 153, 1) 0%,
      rgba(24, 24, 24, 1) 100%);    
       a {
         text-decoration: $sin-decoracion; // variable
         color: nth($colores, 4);   // lista
  }
}