/* <<<<<< Contacto >>>>>> */

.email, .telefono {
    @include contacto(20px, 20px);
}

#fondo-contacto {
    background: linear-gradient(45deg,rgb(0, 0, 0), rgb(118, 130, 132), black);
    background-size: 400% 400%;
    position: relative;
    animation: cambiarColor 4s ease infinite;  
}

@keyframes cambiarColor {
    0% {background-position: 0 50%;}
    50% { background-position: 100% 50%;}
    100% {background-position: 0 50%;}
}

.formulario-contenedor {
    background-color: nth($colores , 5);
    padding-bottom: 15px; 
    border-radius: 20px; 
    border: solid white 1px;   

    .text-color{
        color: nth($colores , 4)
    }
            
    .etiqueta {
        padding-top: 10px;
    }

    textarea {
        resize: none;
        margin-top: 15px;
    }

    .formulario-boton {      
        margin-top: 10px;
        text-align: center;
        
        input {
            padding: 5px 50px;
            background-color: rgb(74, 120, 74);
            border-radius: 10px;
            color: nth($colores , 4);
        }
    }

    
}

.redes {
    h2 {
        color:white               
    }
    text-align: center;
    @include contacto(70px, 40px);
}

.contacto-pie {

    margin-bottom: 80px;
    background-color: nth($colores , 4);
    text-align: center;  
    border-radius: 10px;
    

        a {
            padding-left: 25px;
            padding-right: 25px;
        }
}



.formulario-titulo {
    @include contacto (50px, 50px);
    color: nth($colores, 4);
    text-align: center;
    font-family: 'roboto';
}

.animacion-redes {
    @include contacto (50px, 0px);
    
        .contacto-pie {
            border: solid black 2px;
           
        }
}

