/* <<<<<< Contacto >>>>>> */

.email, .telefono {
    @include contacto(20px, 20px);
}

#fondo-contacto {
    background: linear-gradient(45deg,rgb(0, 0, 0), rgb(118, 130, 132), black);
    background-size: 400% 400%;
    position: relative;
    animation: cambiarColor 4s ease infinite;  
}

@keyframes cambiarColor {
    0% {background-position: 0 50%;}
    50% { background-position: 100% 50%;}
    100% {background-position: 0 50%;}
}

.formulario-contenedor {
    background-color: nth($colores , 5);
    padding-bottom: 15px; 
    border-bottom-left-radius: 20px; 
    border-bottom-right-radius: 20px; 

    .text-color{
        color: nth($colores , 4)
    }
            
    .etiqueta {
        padding-top: 10px;
    }

    textarea {
        resize: none;
        margin-top: 15px;
    }

    

    
}

.redes {
    h2 {
        color:white               
    }
    text-align: center;
    @include contacto(70px, 40px);
}




.contacto-pie {

    margin-bottom: 100px;
    background-color: white;
    text-align: center;  

        a {
            padding-left: 25px;
            padding-right: 25px;
        }
}

.pie-cont {
    text-align: center;
    color: white;
    font-size: 25px;

        a {
            text-decoration: none;
        }
}



