/* <<<<< Footer >>>>> */
.pie {
    font-size: 20px;
    text-align: center;
    background: rgb(146, 146, 153);
    background: linear-gradient(
      90deg,
      rgba(146, 146, 153, 1) 0%,
      rgba(24, 24, 24, 1) 100%);    
       a {
         text-decoration: none;
         color: white;
  }
}
