/* <<<<<<<< Index >>>>>>>> */

#fondo-principal {
    width: 100%;
    height: 100vh;
    background-image: url("../img/Fondo\ nuevo.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    // background-color: black;      
  }  

 @media screen and (max-width: 576px) {
  #fondo-principal {
    background-image: url("../img/fondo\ blanco.jpg");
    background-repeat: repeat;    
 }
} 
  
  .animacion-inicio {
    font-size: nth($size , 7);
    font-family: 'roboto';
    text-align: justify;
    padding: nth($size , 2);
    color: nth($colores , 1);
  }

  @media screen and (max-width: 576px) {
    .anim-mio {
      display: none;
    }
  }
  
  .titulo {
    text-align: center;
    background: rgb(37, 187, 189);
    background: linear-gradient(
      344deg,
      rgba(37, 187, 189, 1) 0%,
      rgba(86, 111, 111, 1) 100%
    );
  }
  
  .personalizado {
    background: rgb(146, 146, 153);
    background: linear-gradient(
      90deg,
      rgba(146, 146, 153, 1) 0%,
      rgba(24, 24, 24, 1) 100%
    );
  }
  
  .mio {
    background: rgb(146, 146, 153);
    background: linear-gradient(
      90deg,
      rgba(146, 146, 153, 1) 0%,
      rgba(24, 24, 24, 1) 100%
    );
  }
  
  .font {
    font-size: nth($size , 4);
  }